.welcome-msg{
  font-size: 2em;
  background-color: rgb(48, 161, 206);
  color: white;
  border-radius: 5px;
  margin: 0;
  width: 400px;
}
.login-prompt{
  font-size: 2em;
  background-color: rgb(144, 209, 144);
  color: white;
  border-radius: 5px;
  margin: 0;
  width: 400px;
}